<ion-header>
	<ion-toolbar>
		<ion-title>
			Results
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card class="result-output-card">
		<ion-card-header>
			<ion-card-title>Water Balance</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-list>
				<ion-item-group>
					<ion-item-divider>
						System Input Volume
					</ion-item-divider>
					<ion-item>
						<ion-label>System Input Volume</ion-label>
						<p>546545 m³/d</p>
					</ion-item>
					<ion-item-divider>
						Authorized Consumption
					</ion-item-divider>
					<ion-item>
						<ion-label>Authorized Consumption</ion-label>
						<p>42 m³/d</p>
					</ion-item>
					<ion-item>
						<ion-label>- Billed Consumption</ion-label>
						<p>30 m³/d</p>
					</ion-item>
					<ion-item>
						<ion-label>-- Metered</ion-label>
						<p>10 m³/d</p>
					</ion-item>
					<ion-item>
						<ion-label>-- Unmetered</ion-label>
						<p>20 m³/d</p>
					</ion-item>

					<ion-item>
						<ion-label>- Unbilled Consumption</ion-label>
						<p>12 m³/d</p>
					</ion-item>
					<ion-item>
						<ion-label>-- Metered</ion-label>
						<p>9 m³/d</p>
					</ion-item>
					<ion-item>
						<ion-label>-- Unmetered</ion-label>
						<p>3 m³/d</p>
					</ion-item>

					<ion-item-divider>
						Losses
					</ion-item-divider>
					<ion-item>
						<ion-label>Commercial Losses</ion-label>
						<p>546545 m³/d</p>
					</ion-item>
					<ion-item>
						<ion-label>- Customer meter under-registration</ion-label>
						<p>546545 m³/d</p>
					</ion-item>
					<ion-item>
						<ion-label>- Unauthorized Consumption</ion-label>
						<p>546545 m³/d</p>
					</ion-item>
					<ion-item>
						<ion-label>Physical Losses</ion-label>
						<p>546545 m³/d</p>
					</ion-item>
					<ion-item>
						<ion-label>Water Losses</ion-label>
						<p>546545 m³/d</p>
					</ion-item>
					<ion-item>
						<ion-label>NRW</ion-label>
						<p>546545 m³/d</p>
					</ion-item>
				</ion-item-group>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card class="result-output-card">
		<ion-card-header>
			<ion-card-title>Infrastructure and LoS</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-list>
				<ion-item>
					<ion-label>Pipeline length (km)</ion-label>
					<p>546545</p>
				</ion-item>
				<ion-item>
					<ion-label>Number of Customers</ion-label>
					<p>546545</p>
				</ion-item>
				<ion-item>
					<ion-label>Number of Connections</ion-label>
					<p>546545</p>
				</ion-item>
				<ion-item>
					<ion-label>Pressure (m head)</ion-label>
					<p>546545 </p>
				</ion-item>
				<ion-item>
					<ion-label>Supply time (h/d)</ion-label>
					<p>546545</p>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card class="result-output-card">
		<ion-card-header>
			<ion-card-title>Performance Indicators</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-list>

				<ion-item-group>
					<ion-item-divider>
						phydical Loss PIs
					</ion-item-divider>
					<ion-item>
						<ion-label>Infrastructure Leakage Index (ILI)</ion-label>
						<p>546545</p>
					</ion-item>
					<ion-item>
						<ion-label>L/con./day (w.s.p.)</ion-label>
						<p>546545</p>
					</ion-item>
					<ion-item>
						<ion-label>m³/km/h (w.s.p.)</ion-label>
						<p>546545</p>
					</ion-item>

					<ion-item-divider>
						Commercial Loss PIs
					</ion-item-divider>
					<ion-item>
						<ion-label>% of Authorized Consumption</ion-label>
						<p>546545</p>
					</ion-item>
					<ion-item>
						<ion-label>L/conn./d</ion-label>
						<p>546545</p>
					</ion-item>
					<ion-item>
						<ion-label>L/customer/d</ion-label>
						<p>546545</p>
					</ion-item>

					<ion-item-divider>
						NRW PIs
					</ion-item-divider>
					<ion-item>
						<ion-label>L/conn./d (w.s.p.)</ion-label>
						<p>546545</p>
					</ion-item>
					<ion-item>
						<ion-label>Value as % of Operating Costs</ion-label>
						<p>546545</p>
					</ion-item>
					<ion-item>
						<ion-label>Volume as % of System Input</ion-label>
						<p>546545</p>
					</ion-item>
				</ion-item-group>

			</ion-list>
			<p>w.s.p.: whe the system is pressurzied - this means the value is already correctred in the case of
				intermitted supply</p>
		</ion-card-content>
	</ion-card>

</ion-content>